.ol-dragbox {
        background-color: rgba(255,255,255,0.4);
        border-color: rgba(100,150,0,1);
      }

.wrap {
width: 100%;
#overflow:auo;
}

.fleft {
    float:left;
    float:top;
    height: 95%;
    width: 78%;
}

.fright {
    float: right;
    float:top;
    height: 95%;
    width: 20%;
}

.frightbutton {
    float: right;
    float:top;
    height: 95%;
    width: 20%;
    margin-top: 100px;
}
.top {
    border:1px solid black;
    clear: both;
    max-height:100px;
    overflow-y: scroll;
    margin-top: 5px;
    padding: 5px;
}
.bottom {
    border:1px solid black;
    clear: both;
    overflow-y: scroll;
    overflow-x: scroll;
    max-height:400px;
    margin-top: 5px;
    padding: 5px;
}

[hidden] {
  display: none !important;
}

.loading {
color:green;
font-size: 24px;
}




