<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://openlayers.org/en/v5.3.0/css/ol.css" type="text/css">
</head>
<body>

<div [ngBusy]="busy" class="loading"></div>
<!--<div class="loading">dddd</div>-->

<div class="wrap" >
  <div id="map" class="map fleft" ></div>

  <div class="fright" >
    <p>Selected Postcodes</p>
  <div>

      <!--<ng-container *ngFor="let  suburb of suburbs">-->
       <!--{{suburb}}-->
      <!--</ng-container>-->
      <!--{{suburbsstr}}-->

      <input ngControl="suburbsstr" [(ngModel)]="suburbsstr">
    </div>

    <p>Businesses Type for Search</p>
    <div >
      <!--<input ngControl="business_type" [(ngModel)]="business_type">-->
       <input type="text" ngControl="business_type" [(ngModel)]="business_type" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of business_types" [value]="option">{{option}}</mat-option>
      </mat-autocomplete>
    </div>

  </div>

  <div class="fright" [hidden]="suburbs.length > 0">
    <p>Select postcode bounding box using the map</p>
  </div>
  <div class="frightbutton">
      <button (click)="get_businesses()">GetData</button>
    <button (click)="findLocation([this ], 'a')">GetLocation</button>

  </div>
  <div class="bottom"  [hidden]="businesses.length < 1">
     <gridresults [businesses]="businesses" (selectedAddress)='displayAddress($event)'></gridresults>
  </div>
  <div [hidden]="businesses.length > 0">

  </div>


  <!--<div class="fright-bottom">-->
    <!--<button (click)="get_businesses()">GetData</button>-->
  <!--</div>-->
</div>
</body>
</html>
