<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://openlayers.org/en/v5.3.0/css/ol.css" type="text/css">
</head>
<body>

<div class="wrap">
  <div id="map" class="map fleft"></div>

  <div class="fright" [hidden]="suburbs.length < 1">
    <p>Selected Postcodes</p>
    <div class="top">

      <ng-container *ngFor="let  suburb of suburbs">
       {{suburb}}
      </ng-container>
    </div>

    <p>Businesses Type for Search</p>
    <div >
      <input ngControl="business_type" [(ngModel)]="business_type">
    </div>

  </div>

  <div class="fright" [hidden]="suburbs.length > 0">
    <p>Select postcode bounding box using the map</p>
  </div>


  <div class="fleft-bottom"  [hidden]="businesses.length < 1">
    <mycomponent [businesses]="businesses" name="businesses"></mycomponent>
  </div>
  <div class="fleft-bottom" [hidden]="businesses.length > 0">
  </div>


  <div class="fright-bottom">
    <button (click)="get_businesses()">GetData</button>
  </div>
</div>
</body>
</html>
